# Ignore everything in repository root 
/*

!.gitignore

!.editorconfig
!.zshrc

!.config/
.config/*
!.config/herbstluftwm/
!.config/kak/
!.config/kak-lsp/
!.config/kitty/
!.config/ranger/
!.config/zsh/

